.brdr {
    height: 2px;
    background-color: #a8a8a83d;
}
.pointer {
    cursor: pointer;
}
.header {
    height: 60vh;
}
.rate {
    /* width: 35%; */
    padding: 10px;
    background-color: #24baef;
    position: absolute;
    right: 0px;
    top: -15px;
}